<h2>Performance</h2>


<%= hidden_field_tag 'id-from', @trend_report.results.first.id, {:id => 'id-from'} %>
<%= hidden_field_tag 'id-to', @trend_report.results.last.id, {:id => 'id-to'} %>

<div class="btn-group group-with-margin" data-toggle="buttons">
  <% @trend_report.performance_groups.each do |group| %>
      <%= label_tag(nil, nil, class: 'btn btn-default btn-sm trend-performance-plot-button') do %>
          <%= radio_button_tag('trend-performance-label', group, false) %> <%= group[:name]%>
      <% end %>
  <% end %>
</div>

<div id="trend-performance-plot"></div>
