<h2>Requests Data</h2>

<%= hidden_field_tag 'id-from', @trend_report.results.first.id, {:id => 'id-from'} %>
<%= hidden_field_tag 'id-to', @trend_report.results.last.id, {:id => 'id-to'} %>

<div class="btn-group group-with-margin" data-toggle="buttons">
  <% @trend_report.request_labels.each do |label| %>
      <%= label_tag(nil, nil, class: 'btn btn-default btn-sm trend-request-plot-button') do %>
          <%= radio_button_tag('trend-request-label', label, false) %> <%= label %>
      <% end %>
  <% end %>
</div>

<div id="trend-requests-plot"></div>
