<div class="container">
  <div class="page-header">
    <h1>Trend</h1>
  </div>

  <%= hidden_field_tag 'id-from', @trend_report.results.first.id, {:id => 'id-from'} %>
  <%= hidden_field_tag 'id-to', @trend_report.results.last.id, {:id => 'id-to'} %>

  <div class="row">
    <%= render 'trend/desc_diff' %>
  </div>

  <div class="row">
    <%= render 'trend/all_requests' %>
  </div>

  <div class="row">
    <%= render 'trend/requests' %>
  </div>

  <div class="row bottom20" id="performance_trend">
    <%= render 'trend/performance' %>
  </div>
</div>
