<div class="container">
  <div class="row">
    <div class="center-block" id="upload-results-container">
      <% if alert %>
          <div class="alert alert-danger" role="alert">
            <% alert.each do |message| %>
                <div><%= message %></div>
            <% end %>
          </div>
      <% end %>

      <h1>Editing Result</h1>

      <%= form_tag({action: :update}, multipart: true, method: :put) do %>
          <div class="form-group required">
            <%= label_tag :version, nil, class: "control-label" %>
            <%= text_field_tag :version, flash[:version], class: "form-control", placeholder: 'edu sharding' %>
          </div>
          <div class="form-group required">
            <%= label_tag :rps, 'RPS', class: "control-label" %>
            <%= text_field_tag :rps, flash[:rps], class: "form-control", placeholder: '600' %>
          </div>
          <div class="form-group required">
            <%= label_tag :duration, nil, class: "control-label" %>
            <%= text_field_tag :duration, flash[:duration], class: "form-control", placeholder: '600' %>
          </div>
          <div class="form-group required">
            <%= label_tag :profile, nil, class: "control-label" %>
            <%= text_field_tag :profile, flash[:profile], class: "form-control", placeholder: 'all_sites' %>
          </div>
          <div class="form-group">
            <%= label_tag :time_cutting_percent, nil, class: "control-label" %>
            <%= text_field_tag :time_cutting_percent, flash[:time_cutting_percent], class: "form-control", placeholder: '0' %>
          </div>


          <div id="download_requests_data" class="<%= 'hidden' if flash[:requests_data_identifier].nil? %>">
            <%= label_tag 'Requests data', nil, class: "control-label" %>
            <div>
            <%= link_to(flash[:requests_data_identifier], result_download_requests_data_path(@result))%>
              <i class="fa fa-pencil-square-o" id="edit_requests_data"></i>
            </div>
          </div>

          <div class="form-group required <%= 'hidden' unless flash[:requests_data_identifier].nil? %>" id="upload_requests_data">
            <%= label_tag :requests_data, nil, class: "control-label" %>
            <%= file_field_tag :requests_data%>
          </div>

          <div id="download_performance_data" class="<%= 'hidden' if flash[:performance_data_identifier].nil? %>">
            <%= label_tag 'Performance data', nil, class: "control-label" %>
            <div>
              <%= link_to(flash[:performance_data_identifier], result_download_performance_data_path(@result))%>
              <i class="fa fa-pencil-square-o" id="edit_performance_data"></i>
            </div>
          </div>

          <div class="form-group required <%= 'hidden' unless flash[:performance_data_identifier].nil? %>" id="upload_performance_data">
            <%= label_tag :performance_data, nil, class: "control-label" %>
            <%= file_field_tag :performance_data%>
          </div>

          <%= button_tag "Update", class: "btn btn-primary top10", 'data-disable-with' => 'Loading..' %>
      <% end %>

    </div>
  </div>
</div>
