<div class="container">

  <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
  <% end %>

  <div class="page-header">
    <h1>Load tests results</h1>
  </div>

  <div class="row bottom20">
    <div class="pull-right">
      <span id="result-to-compare-list" class="right10">
        <%= render 'results/result_to_compare_list' %>
      </span>
      <%= link_to(
              'Compare',
              compare_path(result: @checked_results),
              class: 'btn btn-success btn-lg',
              id: 'compare-button'
          )
      %>
      <%= link_to(
              'Trend',
              trend_path(result: @checked_results),
              class: 'btn btn-success btn-lg',
              id: 'trend-button'
          )
      %>
    </div>
  </div>

  <table id="results-table" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="small"></th>
      <th class="small">ID</th>
      <th class="small">Project</th>
      <th class="small">Version</th>
      <th class="small">RPS</th>
      <th class="small">Duration</th>
      <th class="small">Profile</th>
      <th class="small">Data version</th>
      <th class="small">Test run date</th>
      <th class="small">Time cutting percent</th>
      <th class="small">Value smoothing interval</th>
      <th class="small">Release date</th>
      <th class="small">Comment</th>
      <th class="small"></th>
    </tr>
    </thead>

    <tbody>
    <% @results.each do |result| %>
        <tr class="result_row">
          <td class="check-result text-center">
            <%= check_box_tag 'result-checkbox', result.id, @checked_results.try(:include?, result.id.to_s),
                              class: 'result-checkbox' %>
          </td>
          <td class="id nostrech"><%= result.id %></td>
          <td class="project nostrech"><%= result.project.project_name %></td>
          <td class="version nostrech"><%= result.version %></td>
          <td class="rps nostrech"><%= result.rps %></td>
          <td class="duration nostrech"><%= result.duration %></td>
          <td class="profile nostrech"><%= result.profile %></td>
          <td class="data_version nostrech"><%= result.data_version %></td>
          <td class="test_run_date nostrech"><%= result.test_run_date %></td>
          <td class="time_cutting_percent nostrech"><%= result.time_cutting_percent %></td>
          <td class="value_smoothing_interval nostrech"><%= result.value_smoothing_interval %></td>
          <td class="release_date nostrech"><%= result.release_date %></td>
          <td class="comment"><%= result.comment %></td>
          <td class="actions nostrech">
            <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe,
                        result_path(result),
                        class: 'showResult' %>
            <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,
                        edit_result_path(result),
                        class: 'editResult' %>
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe,
                        result,
                        class: 'destroyResult',
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div id="paginator">
    <%= paginate @results %>
  </div>
</div>
