<div class="container">

  <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
  <% end %>


  <div class="page-header">
    <h1>Load tests results</h1>
  </div>

  <div class="row">
    <a class="btn btn-danger btn-lg pull-right" href="/results/new" role="button" style="">Upload
      results</a>
  </div>
<br>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Version</th>
      <th>RPS</th>
      <th>Duration</th>
      <th>Profile</th>
      <th>Test run date</th>
      <th>Upload date</th>
    </tr>
    </thead>

    <tbody>

    <% @results.each do |result| %>
        <tr>
          <td style="width: 50px;"><%= check_box_tag 'results', result.id %></td>
          <td><%= result.id %></td>
          <td><%= result.version %></td>
          <td><%= result.rps %></td>
          <td><%= result.duration %></td>
          <td><%= result.profile %></td>
          <td><%= result.test_run_date %></td>
          <td><%= result.created_at %></td>

        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="row">
    <input class="btn btn-info btn-lg pull-right" type="submit" value="Compare" style="width:149.063px">
  </div>
</div>