<div class="container">

  <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
  <% end %>

  <div class="page-header">
    <h1>Load tests results</h1>
  </div>

  <div class="row bottom20 well">
    <%= form_for_filterrific @filterrific do |f| %>
        <div class="col-md-2">
          Project
          <%= f.select(
                  :with_project_id,
                  @filterrific.select_options[:with_project_id],
                  {include_blank: '- Any -'},
                  {:class => 'form-control filterrific-periodically-observed'}
              ) %>
        </div>

        <div class="col-md-2">
          Version
          <%= f.text_field(
                  :version_search_query,
                  class: 'form-control filterrific-periodically-observed'
              ) %>
        </div>

        <div class="col-md-2">
          Release date from
          <div class="input-group datetimepicker2">
            <%= f.text_field(
                    :release_date_gte,
                    class: 'form-control filterrific-periodically-observed'
                ) %>
            <%= calendar_button.html_safe %>
          </div>
        </div>

        <div class="col-md-2">
          Release date to
          <div class="input-group datetimepicker2">
            <%= f.text_field(
                    :release_date_lt,
                    class: 'form-control filterrific-periodically-observed'
                ) %>
            <%= calendar_button.html_safe %>
          </div>
        </div>

        <div class="col-md-2">
          Test run date from
          <div class="input-group datetimepicker2">
            <%= f.text_field(
                    :test_run_date_gte,
                    class: 'form-control filterrific-periodically-observed'
                ) %>
            <%= calendar_button.html_safe %>
          </div>
        </div>

        <div class="col-md-2">
          Test run date to
          <div class="input-group datetimepicker2">
            <%= f.text_field(
                    :test_run_date_lt,
                    class: 'form-control filterrific-periodically-observed'
                ) %>
            <%= calendar_button.html_safe %>
          </div>
        </div>
    <% end %>
  </div>

  <div class="row bottom20">
    <div class="pull-right">
      <span id="result-to-compare-list" class="right10">
        <%= render 'results/result_to_compare_list' %>
      </span>
      <%= link_to(
              'Compare',
              compare_path(result: @checked_results),
              class: 'btn btn-success btn-lg',
              id: 'compare-button'
          )
      %>
      <%= link_to(
              'Trend',
              trend_path(result: @checked_results),
              class: 'btn btn-success btn-lg',
              id: 'trend-button'
          )
      %>
    </div>
  </div>

  <%= render(
          partial: 'results/results_list',
          locals: {results: @results}
      ) %>

</div>



