<div class="container">
  <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
  <% end %>

  <div class="page-header">
    <h1>Load tests results</h1>
  </div>

  <%= render(partial: 'results/filters') %>

  <div class="row bottom20">
    <div class="pull-right">
      <button id="clear-results" class="btn btn-link" style="display: none;">x</button>
      <span id="result-to-compare-list" class="right10"></span>
      <%= link_to(
              'Compare',
              compare_path(result: @checked_results),
              class: 'btn btn-success btn-lg',
              id: 'compare-button'
          )
      %>
      <%= link_to(
              'Trend',
              trend_path(result: @checked_results),
              class: 'btn btn-success btn-lg',
              id: 'trend-button'
          )
      %>
    </div>
  </div>

  <%= render(
          partial: 'results/results_list',
          locals: {results: @results}
      ) %>
</div>



