<div class="container">
  <div class="row">
    <div class="center-block" id="upload-results-container">
      <% if alert %>
          <div class="alert alert-danger" role="alert">
            <% alert.each do |message| %>
                <div><%= message %></div>
            <% end %>
          </div>
      <% end %>

      <h1>New Result</h1>

      <%= form_tag({action: "create"}, multipart: true) do %>
          <div class="form-group required">
            <%= label_tag :project, nil, class: "control-label" %>
            <%= select_tag :project, options_for_select(Project.all.collect {|p| [p.project_name, p.id]}), class: "form-control", include_blank: true %>
          </div>
          <div class="form-group required">
            <%= label_tag :version, nil, class: "control-label" %>
            <%= text_field_tag :version, flash[:version], class: "form-control", placeholder: 'edu sharding' %>
          </div>
          <div class="form-group required">
            <%= label_tag :rps, 'RPS', class: "control-label" %>
            <%= text_field_tag :rps, flash[:rps], class: "form-control", placeholder: '600' %>
          </div>
          <div class="form-group required">
            <%= label_tag :duration, nil, class: "control-label" %>
            <%= text_field_tag :duration, flash[:duration], class: "form-control", placeholder: '600' %>
          </div>
          <div class="form-group required">
            <%= label_tag :profile, nil, class: "control-label" %>
            <%= text_field_tag :profile, flash[:profile], class: "form-control", placeholder: 'all_sites' %>
          </div>
          <div class="form-group">
            <%= label_tag :data_version, nil, class: "control-label" %>
            <%= text_field_tag :data_version, flash[:data_version], class: "form-control", placeholder: 'data_version' %>
          </div>
          <div class="form-group required">
            <%= label_tag :test_run_date, nil, class: "control-label" %>
            <%= datetime_local_field_tag :test_run_date, flash[:test_run_date], class: "form-control", placeholder: '10.02.2016 18:59' %>
          </div>
          <div class="form-group">
            <%= label_tag :time_cutting_percent, nil, class: "control-label" %>
            <%= text_field_tag :time_cutting_percent, flash[:time_cutting_percent], class: "form-control", placeholder: '0' %>
          </div>
          <div class="form-group">
            <%= label_tag :value_smoothing_interval, nil, class: "control-label" %>
            <%= text_field_tag :value_smoothing_interval, flash[:value_smoothing_interval], class: "form-control", placeholder: '0' %>
          </div>
          <div class="form-group">
            <%= label_tag :release_date, nil, class: "control-label" %>
            <%= datetime_local_field_tag :release_date, flash[:release_date], class: "form-control", placeholder: '10.02.2016 18:59' %>
          </div>
          <div class="form-group required">
            <%= label_tag :requests_data, nil, class: "control-label" %>
            <%= file_field_tag :requests_data %>
          </div>
          <div class="form-group">
            <%= label_tag :performance_data %>
            <%= file_field_tag :performance_data %>
          </div>
          <%= button_tag "Upload", class: "btn btn-primary", 'data-disable-with' => 'Loading..' %>
      <% end %>
    </div>
  </div>
</div>
