<div class="container">
  <div class="row">
    <div class="center-block" id="upload-results-container">
      <% if alert %>
          <div class="alert alert-danger" role="alert">
            <% alert.each do |message| %>
                <div><%= message %></div>
            <% end %>
          </div>
      <% end %>
      <h3>Editing performance group</h3>
      <%= form_tag({action: :update}, multipart: true, method: :put) do %>
          <div class="form-group required">
            <%= label_tag :name, nil, class: "control-label" %>
            <%= text_field_tag :name, flash[:name], class: "form-control", placeholder: 'Processor' %>
          </div>
          <div class="form-group required">
            <%= label_tag :units, nil, class: "control-label" %>
            <%= text_field_tag :units, flash[:units], class: "form-control", placeholder: '%' %>
          </div>
          <div class="form-group required">
            <%= label_tag :trend_limit, nil, class: "control-label" %>
            <%= text_field_tag :trend_limit, flash[:trend_limit], class: "form-control", placeholder: '0' %>
          </div>
          <%= button_tag "Update", class: "btn btn-primary top10", 'data-disable-with' => 'Loading..' %>
      <% end %>
    </div>
  </div>
</div>
