<div class="container">
  <div class="center-block" id="upload-results-container">
    <% if alert %>
        <div class="alert alert-danger" role="alert">
          <% alert.each do |message| %>
              <div><%= message %></div>
          <% end %>
        </div>
    <% end %>
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <h3>New Performance Group</h3>
    <%= form_tag({action: "create"}, multipart: true) do %>
        <div class="form-group required">
          <%= label_tag :name, nil, class: "control-label" %>
          <%= text_field_tag :name, flash[:name], class: "form-control", placeholder: 'Processor' %>
        </div>
        <div class="form-group required">
          <%= label_tag :units, nil, class: "control-label" %>
          <%= text_field_tag :units, flash[:units], class: "form-control", placeholder: '%' %>
        </div>
        <div class="form-group required">
          <%= label_tag :trend_limit, nil, class: "control-label" %>
          <%= text_field_tag :trend_limit, flash[:trend_limit], class: "form-control", placeholder: '0' %>
        </div>
        <div class="form-group required">
          <%= label_tag :metrics_type, nil %>
          <%= select_tag :metrics_type, options_for_select([0,1]), class: "form-control", include_blank: true %>
          <span id="helpBlock" class="help-block">0 for dynamic type, 1 for static</span>
        </div>
        <%= button_tag "Create", class: "btn btn-primary", 'data-disable-with' => 'Loading..' %>
    <% end %>
  </div>
</div>