<div class="panel-group" id="description">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#description" href="#collapseDescription">
          Description
        </a>
      </h4>
    </div>
    <div id="collapseDescription" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="col-md-6">
          <table class="table table-striped table-condensed table-responsive table-bordered">
            <h4>Test run parameters</h4>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Result id:<%= @compare_report.result1.id %></th>
                <th>Result id:<%= @compare_report.result2.id %></th>
              </tr>
            </thead>
            <tbody>
              <% @compare_report.description.each do |parameter, value| %>
                <tr class="
                <%= 'row-warning' if parameter_to_compare?(parameter) && value[:result1] != value[:result2] %>
                ">
                  <td><%= parameter %></td>
                  <td><%= value[:result1] %></td>
                  <td><%= value[:result2] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
