<div class="panel-group" id="requests_data">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#requestsData" href="#collapseRequestsData">
          Requests Data
        </a>
      </h4>
    </div>
    <div id="collapseRequestsData" class="panel-collapse">
      <div class="panel-body">
        <div class="panel-group" id="params">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#params" href="#collapseParams">
                  Parameters
                </a>
              </h4>
            </div>
            <div id="collapseParams" class="panel-collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">Show columns</span>

                      <div class="input-group-btn btn-group-custom" data-toggle="buttons">
                        <label class="btn btn-primary active">
                          <input id="btn_show_mean" type="checkbox" checked onchange="showColumn('btn_show_mean', 'mean');">
                          Mean
                        </label>
                        <label class="btn btn-primary active">
                          <input id="btn_show_median" type="checkbox" checked onchange="showColumn('btn_show_median', 'median');">
                          Median
                        </label>
                        <label class="btn btn-primary active">
                          <input id="btn_show_90line" type="checkbox" checked onchange="showColumn('btn_show_90line', 'line90');">
                          90% Line
                        </label>
                        <label class="btn btn-primary">
                          <input id="btn_show_min" type="checkbox" onchange="showColumn('btn_show_min', 'min');">
                          Min
                        </label>
                        <label class="btn btn-primary">
                          <input id="btn_show_max" type="checkbox" onchange="showColumn('btn_show_max', 'max');">
                          Max
                        </label>
                        <label class="btn btn-primary">
                          <input id="btn_show_throughput" type="checkbox" onchange="showColumn('btn_show_throughput', 'throughput');">
                          Throughput
                        </label>
                        <label class="btn btn-primary">
                          <input id="btn_show_failed_req" type="checkbox" onchange="showColumn('btn_show_failed_req', 'failed_request');">
                          Failed requests
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <table class="table table-hover table-striped table-condensed table-responsive table-bordered sticky-header" id="requests-results">
          <thead>
          <tr>
            <th></th>
            <th class="mean">Mean id:<%= @compare_report.result1.id %>, msec</th>
            <th class="mean">Mean id:<%= @compare_report.result2.id %>, msec</th>
            <th class="mean">Mean trend, msec</th>
            <th class="median">Median id:<%= @compare_report.result1.id %>, msec</th>
            <th class="median">Median id:<%= @compare_report.result2.id %>, msec</th>
            <th class="median">Median trend, msec</th>
            <th class="line90">90% Line id:<%= @compare_report.result1.id %>, msec</th>
            <th class="line90">90% Line id:<%= @compare_report.result2.id %>, msec</th>
            <th class="line90">90% Line trend, msec</th>
            <th class="min">Min id:<%= @compare_report.result1.id %>, msec</th>
            <th class="min">Min id:<%= @compare_report.result2.id %>, msec</th>
            <th class="max">Max id:<%= @compare_report.result1.id %>, msec</th>
            <th class="max">Max id:<%= @compare_report.result2.id %>, msec</th>
            <th class="throughput">Throughput id:<%= @compare_report.result1.id %>, req/sec</th>
            <th class="throughput">Throughput id:<%= @compare_report.result2.id %>, req/sec</th>
            <th class="failed_request">Failed requests id:<%= @compare_report.result1.id %>, %</th>
            <th class="failed_request">Failed requests id:<%= @compare_report.result2.id %>, %</th>
            <th class="failed_request">Failed requests trend, %</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="hidden-row"></td>
          </tr>
          <% @compare_report.request_labels.each do |label| %>
              <% anchor_id = Digest::MD5.bubblebabble(label) %>
              <% requests_histogram_uniq_id = Digest::MD5.bubblebabble(label + '1') %>
              <% requests_seconds_to_values_uniq_id = Digest::MD5.bubblebabble(label + '2') %>
              <tr>
                <td class="labelResult">
                  <%= content_tag 'span', nil, {id: anchor_id, class: 'request-bookmark'} %>
                  <div class="bottom10"><%= label %>
                    <%= link_to compare_path(result: [@compare_report.result1.id, @compare_report.result2.id], anchor: anchor_id), {class: 'small link-unstyled'} do %>
                        <i class="glyphicon glyphicon-link"></i>
                    <% end %>
                  </div>
                  <div class="btn-group" role="group">
                    <div class="inline-block">
                      <%= button_to(compare_requests_histogram_plot_path(
                                        label: label,
                                        result1_id: @compare_report.result1.id,
                                        result2_id: @compare_report.result2.id,
                                        result1_time_cut: @compare_report.result1.time_cutting_percent,
                                        result2_time_cut: @compare_report.result2.time_cutting_percent,
                                        plot_id: requests_histogram_uniq_id
                                    ),
                                    remote: true,
                                    id: "#{requests_histogram_uniq_id}_button",
                                    class: 'btn btn-default btn-xs show-plot requests-histogram-plot-button',
                                    'data-toggle' => 'collapse',
                                    'data-target' => "##{requests_histogram_uniq_id}_div") do %>
                          <i class="fa fa-bar-chart"></i>
                      <% end %>
                    </div>
                    <div class="inline-block">
                      <%= button_to(compare_requests_seconds_to_values_plot_path(
                                        label: label,
                                        result1_id: @compare_report.result1.id,
                                        result2_id: @compare_report.result2.id,
                                        result1_time_cut: @compare_report.result1.time_cutting_percent,
                                        result2_time_cut: @compare_report.result2.time_cutting_percent,
                                        plot_id: requests_seconds_to_values_uniq_id
                                    ),
                                    remote: true,
                                    id: "#{requests_seconds_to_values_uniq_id}_button",
                                    class: 'btn btn-default btn-xs show-plot requests-time-plot-button',
                                    'data-toggle' => 'collapse',
                                    'data-target' => "##{requests_seconds_to_values_uniq_id}_div") do %>
                          <i class="fa fa-area-chart"></i>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td class="mean" data-toggle="tooltip" title="Version: <%= @compare_report.result1.version %> <br> Test run date: <%= @compare_report.result1.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result1.calculated_requests_results.find_by(label: label).mean %></td>
                <td class="mean" data-toggle="tooltip" title="Version: <%= @compare_report.result2.version %> <br> Test run date: <%= @compare_report.result2.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result2.calculated_requests_results.find_by(label: label).mean %></td>
                <td class="mean trend"><%= @compare_report.trend(:calculated_requests_results, :mean, label) %> </td>
                <td class="median" data-toggle="tooltip" title="Version: <%= @compare_report.result1.version %> <br> Test run date: <%= @compare_report.result1.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result1.calculated_requests_results.find_by(label: label).median %></td>
                <td class="median" data-toggle="tooltip" title="Version: <%= @compare_report.result2.version %> <br> Test run date: <%= @compare_report.result2.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result2.calculated_requests_results.find_by(label: label).median %></td>
                <td class="median trend"><%= @compare_report.trend(:calculated_requests_results, :median, label) %> </td>
                <td class="line90" data-toggle="tooltip" title="Version: <%= @compare_report.result1.version %> <br> Test run date: <%= @compare_report.result1.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result1.calculated_requests_results.find_by(label: label).ninety_percentile %></td>
                <td class="line90" data-toggle="tooltip" title="Version: <%= @compare_report.result2.version %> <br> Test run date: <%= @compare_report.result2.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result2.calculated_requests_results.find_by(label: label).ninety_percentile %></td>
                <td class="line90 trend"><%= @compare_report.trend(:calculated_requests_results, :ninety_percentile, label) %> </td>
                <td class="min" data-toggle="tooltip" title="Version: <%= @compare_report.result1.version %> <br> Test run date: <%= @compare_report.result1.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result1.calculated_requests_results.find_by(label: label).min %></td>
                <td class="min" data-toggle="tooltip" title="Version: <%= @compare_report.result2.version %> <br> Test run date: <%= @compare_report.result2.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result2.calculated_requests_results.find_by(label: label).min %></td>
                <td class="max" data-toggle="tooltip" title="Version: <%= @compare_report.result1.version %> <br> Test run date: <%= @compare_report.result1.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result1.calculated_requests_results.find_by(label: label).max %></td>
                <td class="max" data-toggle="tooltip" title="Version: <%= @compare_report.result2.version %> <br> Test run date: <%= @compare_report.result2.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result2.calculated_requests_results.find_by(label: label).max %></td>
                <td class="throughput" data-toggle="tooltip" title="Version: <%= @compare_report.result1.version %> <br> Test run date: <%= @compare_report.result1.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result1.calculated_requests_results.find_by(label: label).throughput %></td>
                <td class="throughput" data-toggle="tooltip" title="Version: <%= @compare_report.result2.version %> <br> Test run date: <%= @compare_report.result2.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result2.calculated_requests_results.find_by(label: label).throughput %></td>
                <td class="failed_request" data-toggle="tooltip" title="Version: <%= @compare_report.result1.version %> <br> Test run date: <%= @compare_report.result1.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result1.calculated_requests_results.find_by(label: label).failed_results %></td>
                <td class="failed_request" data-toggle="tooltip" title="Version: <%= @compare_report.result2.version %> <br> Test run date: <%= @compare_report.result2.test_run_date.strftime('%d.%m.%Y %H:%M') %>"><%= @compare_report.result2.calculated_requests_results.find_by(label: label).failed_results %></td>
                <td class="failed_request trend"><%= @compare_report.trend(:calculated_requests_results, :failed_results, label) %></td>
              </tr>
              </tr>
              <tr>
                <td colspan="100" class="hidden-row">
                  <div class="collapse" id="<%= "#{requests_histogram_uniq_id}_div" %>"></div>
                </td>
              </tr>
              <tr>
                <td colspan="100" class="hidden-row">
                  <div class="collapse" id="<%= "#{requests_seconds_to_values_uniq_id}_div" %>"></div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
