<div class="container-fluid">
  <div class="page-header">
    <h1>Compare report <small>(id:<%= @compare_report.result1.id %> vs id:<%= @compare_report.result2.id %>)
      <%= link_to compare_path(result: [@compare_report.result2.id, @compare_report.result1.id]), {:id => 'changed_results'} do %>
          <i class="fa fa-exchange"></i>
      <% end %></small>
    </h1>
  </div>

  <% if @compare_report.differences.present? %>
    <div class="row">
      <div id="different-warning" class="alert alert-warning" role="alert">
        <strong>Warning!</strong>
        <ul>
          <% @compare_report.differences.each do |warning| %>
            <li><%= warning %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <%= render 'compare/description_compare_report' %>
  </div>

  <div class="row">
    <%= render 'compare/requests_plots' %>
  </div>

  <% if @compare_report.performance? %>
      <div class="row">
        <%= render 'compare/performance_data_compare_report' %>
      </div>
  <% end %>

  <div class="row">
    <%= render 'compare/request_data_compare_report' %>
  </div>
</div>
